.mw-plusminus-null {
	color: rgb(170, 170, 170);
}
.texvc {
	unicode-bidi: embed; direction: ltr;
}
img.tex {
	vertical-align: middle;
}
span.texhtml {
	font-family: serif;
}
#toolbar {
	clear: both;
}
#wpTextbox1 {
	clear: both;
}
div#mw-js-message {
	margin: 1em 5%; padding: 0.5em 2.5%; border: 1px solid rgb(221, 221, 221); background-color: rgb(252, 252, 252);
}
.editsection {
	margin-left: 5px; float: right;
}
table.filehistory {
	border: 1px solid rgb(204, 204, 204); border-collapse: collapse;
}
table.filehistory th {
	padding: 0px 0.2em; border: 1px solid rgb(204, 204, 204); vertical-align: top;
}
table.filehistory td {
	padding: 0px 0.2em; border: 1px solid rgb(204, 204, 204); vertical-align: top;
}
table.filehistory th {
	text-align: left;
}
table.filehistory td.mw-imagepage-filesize {
	white-space: nowrap;
}
table.filehistory th.mw-imagepage-filesize {
	white-space: nowrap;
}
