a.stub {
	color: rgb(186, 0, 0); text-decoration: none;
}
a.new {
	color: rgb(186, 0, 0); text-decoration: none;
}
#toc {
	padding: 5px; border: 1px solid rgb(170, 170, 170); background-color: rgb(249, 249, 249);
}
.tocindent {
	margin-left: 2em;
}
.tocline {
	margin-bottom: 0px;
}
div.floatright {
	border-width: 0.5em 0px 0.8em 1.4em; border-style: solid; border-color: white; margin: 0px; clear: right; float: right; position: relative;
}
div.floatright p {
	font-style: italic;
}
div.floatleft {
	border-width: 0.5em 1.4em 0.8em 0px; border-style: solid; border-color: white; margin: 0.3em 0.5em 0.5em 0px; float: left; position: relative;
}
div.floatleft p {
	font-style: italic;
}
div.thumb {
	border-style: solid; border-color: white; width: auto; overflow: hidden; margin-bottom: 0.5em;
}
div.thumb div {
	padding: 3px !important; border: 1px solid rgb(204, 204, 204); text-align: center; font-size: 94%; background-color: rgb(249, 249, 249);
}
div.thumb div a img {
	border: 1px solid rgb(204, 204, 204);
}
div.thumb div div.thumbcaption {
	padding: 0.3em 0px 0.1em; border: currentColor;
}
div.magnify {
	display: none;
}
div.tright {
	border-width: 0.5em 0px 0.8em 1.4em; clear: right; float: right;
}
div.tleft {
	border-width: 0.5em 1.4em 0.8em 0px; margin-right: 0.5em; float: left;
}
img.thumbborder {
	border: 1px solid rgb(221, 221, 221);
}
table.rimage {
	width: 1pt; text-align: center; margin-bottom: 1em; margin-left: 1em; float: right; position: relative;
}
body {
	background: white; margin: 0px; padding: 0px; color: black;
}
.noprint {
	display: none;
}
div#jump-to-nav {
	display: none;
}
div.top {
	display: none;
}
div#column-one {
	display: none;
}
#colophon {
	display: none;
}
.editsection {
	display: none;
}
.toctoggle {
	display: none;
}
.tochidden {
	display: none;
}
div#f-poweredbyico {
	display: none;
}
div#f-copyrightico {
	display: none;
}
li#viewcount {
	display: none;
}
li#about {
	display: none;
}
li#disclaimer {
	display: none;
}
li#privacy {
	display: none;
}
ul {
	list-style-type: square;
}
#content {
	margin: 0px !important; padding: 0px !important; border: currentColor !important;
}
#footer {
	background: white; color: black; border-top-color: black; border-top-width: 1px; border-top-style: solid;
}
h1 {
	font-weight: bold;
}
h2 {
	font-weight: bold;
}
h3 {
	font-weight: bold;
}
h4 {
	font-weight: bold;
}
h5 {
	font-weight: bold;
}
h6 {
	font-weight: bold;
}
p {
	margin: 1em 0px !important; line-height: 1.2em;
}
.documentDescription {
	margin: 1em 0px !important; line-height: 1.2em;
}
.tocindent p {
	margin: 0px !important;
}
pre {
	background: white; padding: 1em 0px; border: 1pt dashed black; color: black; overflow: auto; font-size: 8pt; white-space: pre;
}
table.listing {
	border: 1pt solid black; border-collapse: collapse;
}
table.listing td {
	border: 1pt solid black; border-collapse: collapse;
}
a {
	padding: 0px !important; color: black !important;
}
a:link {
	color: rgb(85, 34, 0); text-decoration: underline;
}
a:visited {
	color: rgb(85, 34, 0); text-decoration: underline;
}
#content a.text.external::after {
	content: " (" attr(href) ") ";
}
#content a.autonumber.external::after {
	content: " (" attr(href) ") ";
}
#globalWrapper {
	width: 100% !important; min-width: 0px !important;
}
#content {
	background: white; color: black;
}
#column-content {
	margin: 0px !important;
}
#column-content #content {
	margin: 0px !important; padding: 1em;
}
a {
	color: black !important; text-decoration: none !important;
}
a.external {
	color: black !important; text-decoration: none !important;
}
a.new {
	color: black !important; text-decoration: none !important;
}
a.stub {
	color: black !important; text-decoration: none !important;
}
a {
	color: inherit !important; text-decoration: inherit !important;
}
a.external {
	color: inherit !important; text-decoration: inherit !important;
}
a.new {
	color: inherit !important; text-decoration: inherit !important;
}
a.stub {
	color: inherit !important; text-decoration: inherit !important;
}
img {
	border: currentColor;
}
img.tex {
	vertical-align: middle;
}
span.texhtml {
	font-family: serif;
}
div.townBox {
	background: white; padding: 0.3em; border: 1px solid gray; width: 200px; overflow: hidden; clear: right; margin-left: 1em; float: right; position: relative;
}
div.townBox dl {
	margin: 0px 0px 0.3em; padding: 0px; font-size: 96%;
}
div.townBox dl dt {
	margin: 0.4em 0px 0px;
}
div.townBox dl dd {
	margin: 0.1em 0px 0px 1.1em; background-color: rgb(243, 243, 243);
}
#siteNotice {
	display: none;
}
table.gallery {
	margin: 2px; padding: 2px; border: 1px solid rgb(204, 204, 204); background-color: rgb(255, 255, 255);
}
table.gallery tr {
	vertical-align: top;
}
div.gallerybox {
	margin: 2px; border: 1px solid rgb(204, 204, 204); width: 150px; background-color: rgb(249, 249, 249);
}
div.gallerybox div.thumb {
	margin: 2px; border: 1px solid rgb(204, 204, 204); text-align: center;
}
div.gallerytext {
	padding: 2px 4px; font-size: 94%;
}
table.diff {
	background: white;
}
td.diff-otitle {
	background: rgb(255, 255, 255);
}
td.diff-ntitle {
	background: rgb(255, 255, 255);
}
td.diff-addedline {
	background: rgb(204, 255, 204); border: 2px solid black; font-size: smaller;
}
td.diff-deletedline {
	background: rgb(255, 255, 170); border: 2px dotted black; font-size: smaller;
}
td.diff-context {
	background: rgb(238, 238, 238); font-size: smaller;
}
.diffchange {
	color: silver; font-weight: bold; text-decoration: underline;
}
